.advantages__header-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  margin: 0;
  padding: 44px 32px 36px 32px;
}

.advantages__header-description {
  font-size: 14px;
  line-height: 26px;

  margin: 0;
  padding: 0 35px 30px 35px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item-main {
  color: #ffffff;
  background-color: @main-color;

  line-height: 0;
}

.advantages__item-secondary {
  padding: 0 15px;
  margin: 0 20px;

  border-bottom: 1px solid #d6d6d6;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

.advantages__title-main {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  margin: 0;
  padding: 40px 32px 15px 32px;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-bottom: 15px;
}

.advantages__number-main {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-bottom: 15px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-bottom: 28px;
}

.advantages__description-main {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-bottom: 42px;
}

.advantages__image {
  height: 260px;

  background-color: #ffffff;
}

.advantages__sublist {
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  list-style: none;
}

.advantages__sublist-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  text-align: left;

  padding-top: 26px;
}

.advantages__sublist-item--bottom {
  margin-bottom: 40px;
}

.advantages__sublist-title {
  margin: 0;
}

.advantages__sublist-icon {
  width: 40px;
  height: 40px;

  margin-left: 20px;
  padding-right: 12px;

  fill: @main-color;
}

.advantages__sublist-description {
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding-left: 70px;
  padding-right: 25px;
}
