.page-main {
  text-align: center;
}

.page-main__hero {
  width: 320px;
  height: 390px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -220px 0px;
}

.page-main__hero-image {
  width: 280px;
  height: 215px;

  padding-top: 90px;

  text-align: center;
}
