.page-header {
  display: flex;
  flex-direction: column;

  position: relative;

  background-color: @main-color;

  text-align: center;
}

.page-header__logo {
  height: 56px;

  background-color: #ffffff;

  margin-bottom: 0;

  order: 1;

  z-index: 2;
}

@media (min-width: @tablet-width) {

  .page-header {
    width: 768px;
    height: 56px;

    background-color: #ffffff;
  }

  .page-header__logo {
    width: 102px;
    position: absolute;
    left: 50%;
    margin-left: -51px;
  }
}
