@import "normalize.less";
@import "container.less";
@import "page-header.less";
@import "main-nav.less";
@import "page-main.less";
@import "visually-hidden.less";
@import "advantages.less";
@import "page-footer.less";
@import "social.less";
@import "hashtag.less";
@import "copyright.less";
@import "multimedia.less";


@main-color: #81b3d2;

@tablet-width: 768px;
@desktop-width: 1200px;


body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
